[package]
name = "assemblylift-cli"
version = "0.3.0"
description = "AssemblyLift command line interface"
authors = ["Akkoro and the AssemblyLift contributors <assemblylift@akkoro.io>"]
edition = "2018"
license-file = "../LICENSE.md"
repository = "https://github.com/akkoro/assemblylift"
readme = "README.md"
exclude = ["resources/**"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "asml"
path = "src/main.rs"

[dependencies]
clap = "2.33.3"
handlebars = "3.5.2"
once_cell = "1.7.0"
path_abs = "0.5.0"
serde = { version = "1.0.118", features = ["derive", "rc"] }
serde_json = "1.0.61"
toml = "0.5.8"
walkdir = "2.3.1"
zip = "0.5.9"

wasmer = { package = "wasmer-asml-fork", version = "1.0" }
wasmer-compiler = "1.0"
wasmer-compiler-cranelift = "1.0"
#wasmer-compiler-llvm = "1.0"
wasmer-engine-native = "1.0"

[dependencies.reqwest]
version = "0.10.10"
features = ["blocking"]
