[package]
name = "assemblylift-core"
version = "0.4.0-alpha.3"
description = "AssemblyLift core library"
authors = ["Akkoro and the AssemblyLift contributors <assemblylift@akkoro.io>"]
edition = "2018"
license-file = "../LICENSE.md"
repository = "https://github.com/akkoro/assemblylift"
readme = "README.md"

[dependencies]
anyhow = "1.0"
crossbeam-channel = "0.5"
once_cell = "1.4"
tokio = "1.4"
z85 = "3"

wasmer = "2.1.1"
wasmer-wasi = "2.1.1"

assemblylift-core-io-common = { version = "0.3", path = "./io/common" }
assemblylift-core-iomod = { version = "0.4.0-alpha.0", path = "./iomod" }
