name: Verify Build

on:
  pull_request:
    branches: [ mainline, v0.4.0 ]

jobs:

  build-lambda-default:
    name: 'AWS Lambda Default Runtime'
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: 'Build'
      run: docker build -t assemblylift/asml-lambda-default . --file docker/asml-lambda-default

#  build-openfaas-alpine:
#    name: 'OpenFaas Alpine Runtime'
#    runs-on: ubuntu-latest
#    steps:
#    - name: 'Checkout'
#      uses: actions/checkout@v2
#    - name: 'Build'
#      run: docker build -t assemblylift/asml-openfaas-alpine . --file docker/asml-openfaas-alpine

  build-hyper-alpine:
    name: 'Hyper Alpine Runtime'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      - name: 'Build'
        run: docker build -t assemblylift/asml-hyper-alpine . --file docker/asml-hyper-alpine
