name: Verify Build

on:
  pull_request:
    branches: [ mainline, v0.4 ]

jobs:

  build-default:
    name: 'AWS Lambda Default Runtime'
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout'
      uses: actions/checkout@v2
    - name: 'Build'
      run: docker build -t assemblylift/asml-lambda-default . --file docker/asml-lambda-default

